.billing_settings_header,
.plan_history_header {
	color: #0057d8 !important;
}

.plan_status,
.plan_status_value,
.current_plan_status,
.plan_status_value_negetive,
.validity {
	font-size: 1rem;
	font-weight: bold;
}

.plan_status_value_negetive {
	color: red;
}
.plan_status_value {
	color: green;
}

.billing_actions {
	display: inline-block;
	margin-left: 1.3rem;
}

.billing_action {
	margin-left: 0.3rem !important;
}
