.notice_header {
	color: #0057d8 !important;
}

.lable_span {
	color: #4183c4;
}

.lable {
	color: rgba(0, 0, 0, 0.87);
}

.buttons {
	display: flex !important;
	justify-content: flex-end !important;
}
