.transactionSearch {
	padding: 0 !important;
	position: relative;

	input {
		margin-left: 2px !important;
		margin-right: 2px !important;
		border: none !important;
	}
}
.fromDate,
.toDate {
	padding: 0 !important;
	position: relative;

	input {
		margin-left: 2px !important;
		margin-right: 2px !important;
		border: none !important;
	}
}

.position {
	top: 20rem !important;
}

.container {
	min-height: 30rem;
}

.divider {
	margin: 0 !important;
}

.transactionItem {
	display: flex;
	flex-direction: row;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	align-items: flex-start;
	&:hover {
		background-color: whitesmoke;
	}
}

.nameBold {
	font-weight: bolder;
	cursor: pointer;
	width: 18.75%;
}
.name {
	width: 18.75%;
}

.comment {
	width: 25%;
}

.type {
	width: 18.75%;
}

.cashValueIncome {
	color: #5bbd72 !important;
	width: 12.5%;
}
.cashValueExpense {
	color: #d95c5c;
	width: 12.5%;
}

.datetime {
	width: 18.75%;
}

.actions {
	font-size: 1.2rem;
	cursor: pointer;
	display: flex;
	width: 6.25%;
	flex-direction: row;
}
