.img_responsive {
	width: 150px !important;
	height: 150px !important;
	border: 2px dotted #00b5ad;
	border-radius: 3px;
	display: inline-block;
	float: left;
	p {
		position: relative;
		width: 130px;
		color: black !important;
		top: 25%;
		left: 10%;
	}
}

.img_responsive_without_border {
	width: 150px !important;
	height: 150px !important;
	display: inline-block;
	float: left;
}

.extendField {
	width: auto !important;
}

.postCode {
	padding-top: 21px !important;
}
.noneBackground {
	background-image: none;
}

.removeArrow {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.rdtPicker {
	width: 130px !important;
	padding: 0px !important;
	margin-top: 0px !important;
	table {
		width: 0% !important;
		margin: 0 !important;
	}
	td {
		height: 0px;
	}
}

.inputClass {
	width: 110px !important;
}

.logoutButton:hover {
	background-color: red !important;
}

.groupPadding {
	margin-top: 35px !important;
	display: flex !important;
	flex-direction: row !important;
}

.textArea {
	height: 60px !important;
}

.inputfilebox {
	position: relative;
}

.inputfile {
	display: none;
}

.container {
	display: inline-block;
	width: 100%;
}

.filebox {
	display: inline-block;
	width: 150;
	padding: 5px 0px 5px 5px;
	box-sizing: border-box;
	height: 130px;
}

.marginLeft {
	margin-left: 7px !important;
}

.form_group_one {
	flex: 1 !important;
}

.form_group_two {
	flex-direction: column !important;
	flex: 1 !important;
	margin-left: 0.3rem !important;
	margin-right: 0.3rem !important;
}

@media only screen and (max-width: 990px) {
	.form_group_one {
		flex: 1 !important;
		flex-direction: column !important;
	}
}

@media only screen and (max-width: 767px) {
	.form_group_one {
		flex: 1 !important;
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
}
