.container {
	width: 97%;
	background-color: #fff;
	box-shadow: 0 0 10px #d2cccc;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 100%;

	.heading {
		font-size: 1.71428571rem;
		font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-weight: lighter;
		color: rgba(0, 0, 0, 0.87);
		padding: 1rem 0;
		margin: auto 1rem;
		border-bottom: 1px solid rgba(34, 36, 38, 0.15);
	}

	.images {
		.cards {
			margin: 2rem;
		}
	}

	.videos {
		.cards {
			margin: 2rem;
		}
	}
}
@media only screen and (max-width: 950px) {
	.container {
		.images {
			// .cards {
			//   flex-direction: column;
			//   align-items: center;
			// }
		}
	}
}
