.form_container {
	position: relative;
	width: 100vw;
	top: 31px;
	background-color: #fff;
	padding-top: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
