.sgcolor {
    color: #0057D8 !important;
}

.iconPadding {
    padding-top: 25px !important; 
}

.faqTextArea {
    margin-top: 0.5rem !important;
}

.faqInput {
    input {
        font-weight: bold !important;
    }
}
