.analytics {
	display: flex;
	flex-direction: row;
	width: 97%;
	justify-content: space-between;
	.userVisits {
		width: calc(62.25%);
		background-color: white;
		position: relative;
		display: inline-block;
		padding: 1rem;
		border-radius: 3px;
		margin-right: 0.5rem;
		box-shadow: 0 0 10px #9e9999;
	}
	.deviceTypes {
		width: calc(37.75% - 1rem);
		background-color: white;
		position: relative;
		display: inline-block;
		padding: 1rem;
		border-radius: 3px;
		margin-left: 0.5rem;
		box-shadow: 0 0 10px #9e9999;
	}
}

.userVisitChart {
	position: relative;
}

.deviceTypeChart {
	position: relative;
}

.extra {
	width: 97%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.whatBringsRevenue {
	margin-top: 1rem;
	width: calc(50% - 5px);
	display: inline-block;
}

.whatUsersDo {
	margin-top: 1rem;
	width: calc(50% - 5px);
	display: inline-block;
}
.activitiesTableContainer,
.revenueTableContainer {
	background-color: white;
	position: relative;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.2rem;
	padding-bottom: 0.5rem;
	border-radius: 3px;
	margin-right: 0.5rem;
	box-shadow: 0 0 10px #9e9999;
}
.activitiesTable,
.revenueTable {
	border: none !important;
}

.links {
	a {
		color: #333 !important;

		&:hover {
			color: #4183c4 !important;
		}
	}
}

.lighter {
	font-weight: lighter;
}
