.logos_settings_header {
	color: #0057d8 !important;
}

.dropzone {
	border: 1px dotted green !important;
	.content {
		position: relative;
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
	}
}

.dropzone_container {
	margin: auto auto;
	color: #4183c4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.icon {
		font-size: 2rem;
	}
	.text {
		font-size: 1rem;
		font-weight: bold;
		text-align: center;
	}
}

.react_dropzone {
	border: none;
}
