.link_settings_header {
	color: #0057d8 !important;
}

.fb_icon {
	color: #4468b0 !important;
}

.tw_icon {
	color: #1488bc !important;
}

.insta_icon {
	color: #c5317e !important;
}


.actions {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
