.borderNone {
    border: none !important;
}

.fromDate,
.toDate {
	padding: 0 !important;
	position: relative;

	input {
		margin-left: 2px !important;
		margin-right: 2px !important;
		border: none !important;
	}
}

.position {
	top: 24.3rem !important;
}