.container {
	height: 100%;
	width: 100% !important;
	display: flex;
	flex-direction: column;
	.messagebox_header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 10px;
		padding-top: 10px;
		.name {
			margin: 0;
		}
		.user_info {
			margin-left: 0.3rem;
			font-size: 1rem;
			color: #2185d0;
			cursor: pointer;
		}
		.favourite {
			margin-left: 0.2rem;
			font-size: 1rem;
			color: #fbbf11;
			cursor: pointer;
		}
		.block_user {
			margin-left: 0.2rem;
			font-size: 1rem;
			color: #df4141;
			cursor: pointer;
		}
	}

	.chatbox {
		flex: 1;
		padding: 0.3rem;
		display: flex;
		flex-direction: column;

		.message_item {
			margin-bottom: 1.5rem;
		}

		.message_input_container {
			height: 5rem;
			display: flex;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			align-items: center;
		}
	}
}

.send_image {
	font-size: 1.5rem !important;
	margin: auto 0.5rem !important;
	cursor: pointer;
}

.send_button {
	margin-right: 0.6rem !important;
	cursor: pointer;
}

.message_container {
	overflow-y: auto;
	max-width: 100% !important;
	overflow-x: hidden;
	flex: 1;
}

.chatImage{
	max-width: 300px;
}

.forAudio {
	width: 50% !important;
}

.messageinput {
	width: calc(100% - 120px);
  height: 60px;
  padding: 5px;
  border: none !important;
  border-radius: 3px;
  resize: none;
  outline: none;
}
