.bookingfield {
    padding: 6px 2px 2px 2px;
    margin-bottom: 2px !important;
    border-radius: 3px;
    height: 30px !important;
    &:hover {
        background-color: whitesmoke;
    }
}

.fields {
    margin-bottom: 2px !important;
}

.borderNone {
    border: none !important;
}

.fromDate,
.toDate {
	padding: 0 !important;
	position: relative;

	input {
		margin-left: 2px !important;
		margin-right: 2px !important;
		border: none !important;
	}
}

.position {
	top: 24.3rem !important;
}

.greenText {
    color: #5BBD72 !important
}

.container {
	min-height: 30rem;
}

.header {
    margin: 0px !important
}