.buildingdiv {
    width: 100% !important;
    box-shadow: 0 0 10px #7b7575 !important;
}

.facilitydiv {
    min-height: 193px;
    width: 100%;
    border: 1px solid;
    margin: 10px 0;
}

.buildingicons {
    font-size: 22px !important;
}