.bolding {
  font-weight: bolder !important;
  font-size: 1rem !important;
}

.bottomdiv {
  margin-bottom: 0rem !important
}

.columndiv {
  padding-bottom: 0rem !important
}

.plansbox {
  background-color: #F4F5F7;
  border-color: #F4F5F7;
  border-radius: 6px;
  padding-top: 30px !important;
  padding-bottom: 40px;
  margin: 0 30px;
  text-align: center !important;
  &:hover {
    background-color: #e2e6ec;
  }
  h3 {
    color: #42526E;
    font-size: 26px;
    margin-bottom: 10px;
  }
  h4 {
    color: #42526E;
    font-size: 18px;
    margin: 0px;
  }
  h5 {
    color: #42526E;
    font-size: 12px;
    margin: 0px;
  }
}

.planselectbox {
  background-color: #e2e6ec;
}

.planpaymentinfo {
  padding-top: 0px;
  width: 100%;
}

.pricetext {
  color: #0057D8 !important;
  font-size: 3em !important;
  font-weight: bold;
  line-height: 70px;
}

.bizpaymentbtn {
  line-height: 8px;
}

.paytmlogo {
  height: 35px;
}
