.sgcolor {
  color: #0057D8 !important;
}

.tablecenter {
  width: 97% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5px !important;
  margin-bottom: 30px !important;
}

.marginremove {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.marginbottom {
  margin-bottom: 10px !important;
}

.marginnegativebottom {
  margin-bottom: -25px !important;
}

.marginnegativetop {
  margin-bottom: -20px !important
}

.margintop {
  margin-top: 20px !important
}

.removeBorder {
  border-top: none !important;
}

.marginright {
  margin-right: -50px !important;
}

.marginleft {
  margin-left: 20px !important
}
