.landlogobox {
	margin-left: 5vw;
}

.headertabs {
	max-width: 200px;
	min-width: 100px;
	display: inline;
	padding: 21.5px;
	top: 15px;
	position: relative;
	a {
		color: #0057d8;
		font-size: 16px;
		margin: 0 10px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

.authbox {
	float: right;
	padding: 12.5px 0;
	margin-right: 5vw;
	min-width: 120px;
	font-size: 16px;
	max-width: 500px;
}

.landsection1 {
	height: 500px;
	width: 100vw;
	top: 20px;
	background-image: url('../../../assests/img/sp_cover.png');
	background-position: center bottom;
	background-size: cover;
	background-repeat: repeat-x;
	color: #253858;
}

.l1_contents {
	position: relative;
	height: 370px;
	top: 60px;
	width: calc(100vw - 200px);
	margin: 40px 100px;
	text-align: center;
	h1 {
		font-size: 40px;
		margin-bottom: 14px;
		transition: opacity 0.5s ease-in-out;
		-webkit-transition: opacity 0.5s ease-in-out;
		-moz-transition: opacity 0.5s ease-in-out;
		-ms-transition: opacity 0.5s ease-in-out;
		-o-transition: opacity 0.5s ease-in-out;
	}
	a {
		color: #42526e;
		margin: 40px;
		display: block;
		font-size: 18px;
	}
}

.landsection2 {
	height: 400px;
	width: 100vw;
	background-color: #f4f7f9;
}

.landsection3 {
	height: 500px;
	width: 100vw;
	background-color: white;
}

.landsection4 {
	height: 200px;
	width: 100vw;
	background-color: #f4f7f9;
}

.loginmodal .header center {
	font-family: 'Roboto', sans-serif;
	color: #0057d8;
}

.loginmodal button {
	margin-bottom: 10px !important;
}

.checkmark {
	font-size: 10px !important;
}

.landfooterdivider {
	background: #d5d7e0;
	content: '';
	display: block;
	height: 2px;
	margin: 0 auto;
	max-width: 1200px;
	width: 90vw;
}
