.contentsbox {
    min-height: calc(100vh - 140px);
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px #d2cccc;
    padding: 15px;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    h2 {
        font-weight: lighter !important;
    }
    .ui {
        &.segment {
        min-height: calc(100vh - 222px) !important;
        }
        &.checkbox {
        top: 0.5rem;
        }
    }
    .one.wide.field {
        line-height: 5rem;
        &.awardsicons {
        line-height: 2.5rem;
        }
    }
}

.item.sgcolor, .header.sgcolor {
    color: #0057D8 !important;
}

.faq {
    textarea {
        margin-top: 0.5rem !important;
    }
    input {
        font-weight: bold;
    }
}

.adjusted.button {
    top: -1.25rem !important;
    position: relative;
}

.item.sgcolor {
    color: #0057D8 !important;
    border-color: #0057D8 !important;
}

.itemColor {
    // color: #0057D8 !important;
    &:active {
        border-color: #0057D8 !important;
    }
}

.itemColor2 {
    color: #0057D8 !important;
    border-color: #0057D8 !important;
}