.signup {
  float: right;
}

.ui.model {
  text-align: center !important;
}

.social {
  margin-top: 10px !important;
  margin-bottom: 7px !important;
}

.forgotpass {
  margin-top: 10px !important;
}
