// .card {
//   width: 21vw;
//   margin-top: 1rem;
//   border-radius: 0.5rem;
//   display: flex;
//   margin-left: 1rem;
//   margin-right: 1rem;
//   border: 1px solid rgba($color: #000000, $alpha: 0.3);
//   flex-direction: column;
//   .image {
//     position: relative;
//     img {
//       position: relative;
//       z-index: 0;
//       width: calc(21vw - 2px);
//       height: 22vw;
//       border-top-left-radius: 0.5rem;
//       border-top-right-radius: 0.5rem;
//       transition: opacity 300ms ease-in;
//     }
//     .blur {
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       background-color: #fff;
//       border-top-left-radius: 0.5rem;
//       border-top-right-radius: 0.5rem;
//       opacity: 0.5;
//       transform: scale(0);
//       transition: all 300ms ease;
//     }
//     .viewButton {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%) scale(0);
//       padding: 0.8rem 1.7rem;
//       border-radius: 5px;
//       color: #fff;
//       font-size: 1rem;
//       font-weight: bold;
//       letter-spacing: 2px;
//       background-color: rgb(33, 133, 208);
//       cursor: pointer;
//       transition: all 300ms ease;
//     }
//   }

//   .image:hover {
//     .blur {
//       transform: scale(1);
//     }
//     .viewButton {
//       transform: translate(-50%, -50%) scale(1);
//     }
//   }

//   .texts {
//     padding: 0.7rem;
//     .heading {
//       color: rgba($color: #000000, $alpha: 0.87);
//       font-size: 1.4rem;
//       font-weight: bold;
//     }
//     p {
//       font-weight: lighter;
//       color: rgba($color: #000000, $alpha: 0.87);
//     }
//   }
//   .date {
//     padding-top: 0.7rem;
//     padding-bottom: 0.7rem;
//     margin: auto 0.7rem;
//     display: flex;
//     align-items: center;
//     color: rgba(0, 0, 0, 0.2);
//     border-top: 1px solid rgba(0, 0, 0, 0.2);
//     p {
//       margin-left: 0.45rem;
//     }
//   }
// }

// @media only screen and (max-width: 1070px) {
//   .card {
//     width: 19.7vw;
//     .image {
//       img {
//         width: calc(19.7vw - 2px);
//         height: 18vw;
//       }
//     }
//     .texts {
//       padding: 0.7rem;
//       .heading {
//         font-size: 1.4rem;
//       }
//       p {
//         font-size: 1rem;
//       }
//     }
//     .date {
//       font-size: 1rem;
//     }
//   }
// }

// @media only screen and (max-width: 950px) {
//   .card {
//     width: 95%;
//     .image {
//       img {
//         width: 100%;
//         height: 40vw;
//       }
//     }
//     .texts {
//       padding: 0.7rem;
//       .heading {
//         font-size: 2rem;
//       }
//       p {
//         font-size: 1.3rem;
//       }
//     }
//     .date {
//       font-size: 1.3rem;
//     }
//   }
// }

.dimmable {
	margin: 0 !important;
	padding: 0 !important;
}

.image {
	border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
	width: 100% !important;
}

.image_actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.image_action {
	margin-top: 0.9rem !important;
	transform: scale(0.9);
	width: 40%;
	text-align: center;
}

// .cardItem {
// 	width: calc(33.3333% - 4rem) !important;
// 	margin-left: 2rem !important;
// 	margin-right: 2rem !important;
// }

.carousel_icon {
	color: #000 !important;
}

.carousel_image {
	width: 80%;
	height: calc(80% / 4 * 3);
	object-fit: contain;
	// display: inline-block;
}

.carousel_text {
	position: absolute;
	bottom: 0;
	background-color: red;
	width: 90%;
	margin-left: 5%;
	padding: 2px;
	.ui.header {
		color: #fff !important;
	}
}

.carousel_action {
	margin: 0 !important;
}

.carousel_wrapper {
	display: 'flex' !important;
	flex-direction: 'row' !important;
	align-items: 'center' !important;
	justify-content: 'space-between' !important;
}

.carousel_description {
	width: 80%;
	margin: 1rem auto;
	font-size: 1.3rem;
	font-weight: bold;
}
