.legal_settings_header {
	color: #0057d8 !important;
}

.text {
	text-align: center;
}

.input {
	display: flex !important;
	flex-direction: row;
	flex-wrap: nowrap;
	input {
		flex: 1 !important;
		min-width: 0px !important;
	}
}

.red_text {
	color: #d95c5c;
}
