.gridUp {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-right: 7px !important;
  height: 30px !important;
  &:first-child {
    padding-right: 4px !important;
  }
  &:hover {
    /* border-style: solid;
    border-width: thin;
    border-color: #1aa3ff !important; */
    cursor: pointer;
    outline-style: solid;
    outline-width: thin;
    outline-color: #1aa3ff !important;
  }
}

.popUp {
  width: 360px !important;
  height: 188px !important;
}

.ui.popup {
  width: 360px !important;
  height: 360px !important;
}
