.container {
	width: 97%;
	background-color: #fff;
	box-shadow: 0 0 10px #d2cccc;
	border-radius: 5px;
	// display: flex;
	// flex-direction: column;
	height: 100%;
	font-family: 'Lato';
	.statistics {
		height: 8.5rem;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		background-color: #0e5bd5;
		color: #fff;
		font-size: 1.1rem;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		align-items: center;

		.rupees {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 8.5rem;
			position: relative;
			flex: 1;
			cursor: pointer;
			div {
				font-size: 3rem;
				font-weight: normal;
				padding-bottom: 0.7rem;
			}

			.text {
				position: absolute;
				bottom: 1.4rem;
			}
		}

		.activeMembers {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 8.5rem;
			position: relative;
			flex: 1;
			cursor: pointer;
			div {
				display: flex;
				justify-content: center !important;
				align-items: baseline;
				font-size: 3rem;
				font-weight: normal;
				padding-bottom: 0.7rem;
			}

			.text {
				position: absolute;
				bottom: 1.4rem;
			}
		}

		.eventBookings {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 8.5rem;
			position: relative;
			flex: 1;
			cursor: pointer;
			div {
				display: flex;
				justify-content: center !important;
				align-items: baseline;
				font-size: 3rem;
				font-weight: normal;
				margin-bottom: -10px;
			}

			.text {
				position: absolute;
				bottom: 1.4rem;
			}
		}

		.pageVisits {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 8.5rem;
			position: relative;
			flex: 1;
			cursor: pointer;
			div {
				display: flex;
				justify-content: center !important;
				align-items: baseline;
				font-size: 3rem;
				font-weight: normal;
				margin-bottom: -10px;
			}

			.text {
				position: absolute;
				bottom: 1.4rem;
			}
		}
	}
}

.revenueChart {
	position: relative;
}

.chartContainer {
	// height: 30vw;
}
