.eventsbox {
    min-height: calc(100vh - 140px);
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px #d2cccc;
    padding: 15px;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

.adjustCheckbox { 
    top: 2.25rem !important;
    margin-left: 5px;
}

.cancellationpolicytext {
    top: 2.25rem !important;
    margin-left: 5px;
    position: relative;
    height: 2rem;
}

.uploadInput {
    display: none;
}

.galleryImages {
    height: 124px !important;
}

.eventLogo {
    height: 130px !important;
    width: 150px !important;
    display: inline-block;
    border: 2px dotted #00b5ad;
    border-radius: 3px;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}