.footer {
  position: relative !important;
  height: 100px;
  width: 100vw;
  background-color: #f8f8f8;
  text-align: center;
}

.middiv {
  width: 97% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 40px !important;
}

.body {
  flex: 1;
  position: relative;
}
