.borderNone {
    border: none !important;
    span {
        color: black !important;
    }
}

.transactionfield {
    // padding: 6px 2px 2px 2px;
    // margin-bottom: 2px !important;
    border-radius: 3px;
    &:hover {
        background-color: whitesmoke;
    }
}

.fields {
    margin-bottom: -20px !important;
}

.divider {
    margin-bottom: 8px !important;
}